<h1>Sign Up</h1>
<form action="/userType/create-userType" method="POST">
    <input type="text" name="user-type" placeholder="Enter user type" required>
    <button type="submit">Add userType</button>
</form>